

<div id="entirepage">
    <%= render :partial=>"home/header" %>
    <br />
    <h1>About Us</h1>

    <div id="content" style="width: 620px;">
        <div>
        <p>First there is no us. There is just a me, my name is Sam, pleasure to meet you. I am a self proclaimed geek I make a living
        as a computer programmer at a San Francisco, CA based startup. I started my tech career at a young age with an unknown computer at the age
        of 10. I then moved onto game systems: Odyssey 2, Colecovision and then the ADAM which was an attachment to the Colecovision with a
        daisy wheel printer! So many knight playing Dragon Age on that which was on a cassette.</p>

        <p>From there I started building computers and buying any computer books I could on programming. I focused on C and C++ and then
        in my professional career I have programmed in: Objective-C, Visual Basic 6, VBA, JAVA, PHP, Ruby, Python, HTML, CSS, Javascript. In
        my free time I like to code up projects you can find me on Github <a href="http://www.github.com/madgeekfiend">http://www.github.com/madgeekfiend</a>.</p>

        <p>I am also a gamer, I still play games at the age of almost 40 (Damn I'm getting old). I have several level 85s on World of Warcraft and
        I play a plethora of games and own a variety of game systems. I will always be a PC gamer it is just much easier playing FPS and
        strategy games with a mouse and keyboard.</p>

        <p>This site is just a collection of stuff I would like, or I have bought. I wish I can afford to buy them all and give you my actual hands on experience
        but I'm not rich. Feel free to send me an email about this site, comments, questions, or some more geek stuff at <a href="mailto: totalgeek@totalgeekstuff.com">totalgeek@totalgeekstuff.com</a>. Or,
        follow me on twitter.</p>

        <p><em>My name is Sam and I'm a geek!</em></p>
        </div>

        <div id="social">
          <a href="https://twitter.com/themorningdump" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @themorningdump</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>

</div> <!-- end of page -->