<div id="entirepage">
    <%= render :partial=>"home/header" %>
    <br />

<div class="idea" style="position: relative;">
    <h3 style="float: left;"><%= @idea.tag_line %></h3><br/>
    <h1 style="margin: 0;"><%= @idea.title %></h1>
    <br />
    <%= image_tag @idea.small_image.url, :style=>"float: left; margin-right: 5px;", :alt=>@idea.title %>
    <div id="article" style="float: left; width: 340px; padding: 3px;">
      <%= @idea.blog.html_safe %>
    </div>
    <div style="float: right; width: 305px; border-left: 1px dashed #d3d3d3; padding-left: 5px;">
        <div id="sharing">
          <a href="http://twitter.com/share?url=<%= idea_slug_url(:slug=>@idea.slug) %>&text=Check out <%= @idea.title%> on Total Geek Stuff. Cool stuff and gifts for geeks #totalgeekstuff" target="_blank" rel="nofollow"><%= image_tag "Twitter-icon.png" %></a>
        </div>
        <%= render :partial=>"ideas/affiliate_link", :collection=>@idea.affiliate_links %>
        <%= link_to "View more geek stuff", root_path, :class=>"blue-button" %>
        <p>
          <div id="slug_tags">
            <br />
            <p>Tags</p>
            <%
                @idea.tags.each do |tag|
                %>
                    <%= link_to "| #{tag.name}", gifts_for_tag_path(:tag=>tag.name) %>
                <%
                end
            %> |
          </div>
        </p>
    </div>
</div>



</div> <!-- END OF PAGE-->

<script type="text/javascript" src="http://wms.assoc-amazon.com/20070822/US/js/link-enhancer-common.js?tag=totgeestu-20">
</script>
<noscript>
    <img src="http://wms.assoc-amazon.com/20070822/US/img/noscript.gif?tag=totgeestu-20" alt="" />
</noscript>