<div id="affiliate_box" style="max-width: 320px;">
<fieldset style="border-style: none;">
    <legend style="color:blue;font-weight:bold;"><%= affiliate_link.company %></legend>
    <table style="border-collapse: collapse;">
        <tr>
            <td><%= affiliate_link.html.html_safe %></td>
        </tr>
    </table>
</fieldset>

</div>