<div class="tagline" style="text-align: right;"><h1>What Geeks Want. Cool Gift Ideas for Geeks.</h1></div>
<div class="maintitle" style="text-align: right">Total Geek Stuff</div>
<p></p>
<div id="topbar" style="display: block;">
    <ul>
      <li><%=link_to "Home", root_path %></li>
      <li><%= link_to "About Us", about_path %></li>
    </ul>
</div>