<div class="idea">
  <h3><%= idea.tag_line %></h3>
  <h2><%= idea.title %></h2>
  <div id="imgcontainer" style="width: 300px; height: 300px;">
  <%= image_tag idea.small_image.url, :alt=>idea.title %>
  </div>
  <%= idea.description.html_safe %>
  <br /><br />
  <%= render :partial => 'home/affiliate', :collection => idea.affiliate_links, :as=>:affiliate_link %>

  <div style="float: right; display: block;">
    <p><%= link_to "Read More...", idea_slug_path(:slug=>idea.slug) %></p>
  </div>

</div>