<div id="entirepage">
    <%= render :partial=>"home/header" %>
    <br />

    <div id="ideas">
        <%= render :partial=>"home/idea", :collection=>@ideas %>
    </div>

</div> <!-- end of page -->




<script type="text/javascript" src="http://wms.assoc-amazon.com/20070822/US/js/link-enhancer-common.js?tag=totgeestu-20">
</script>
<noscript>
    <img src="http://wms.assoc-amazon.com/20070822/US/img/noscript.gif?tag=totgeestu-20" alt="" />
</noscript>