

<p>Enter a string of tags that are comma seperated and any new tags override the old tags</p>
<p>Current tags: <%= @tags.join ',' %></p>
<%= form_tag(:controller=>"misc_admin_idea", :action=>"post_tag_idea", :method=>:post ) do %>
    <%=  label_tag(:label, "Tag for #{@idea.title}") %>
    <%= text_field_tag(:tags, nil, :size=>80) %>
    <%= submit_tag("Submit") %>
<% end %>