// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topbar {
  width: 100%;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  text-align: center;
}

body {
  font: 12px 'Lucida Grande', Verdana, Arial, Sans-Serif;
  color: #606060;
}

body a:hover {
  text-decoration: underline;
}

body a, body a:visited {
  text-decoration: none;
}

#topbar a, a:visited {
  font-size: 12px;
  font-weight: bold;
  color: #606060;
  font-family: Verdana;
}

ul, menu, dir {
  list-style-type: disc;
}

#topbar ul {
  padding: 0px 0px 0px 0px;
}

#topbar ul li {
  display: inline;
  margin: 0px 16px 0px 16px;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

#ideas {
	width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

#primary {
	float: left;
	width: 330px;
}

#content {
	float: left;
	width: 330px;
}

#secondary {
	float: left;
	width: 330px;
}

#footer {
	clear: both;
}

#entirepage {
  width: 1000px;
  margin: 0px auto;
  background: #ffffff;
  padding: 0px 0px 0px 0px;
}

#ideas .idea {
  width: 310px;
  float: left;
  margin: 5px;
  padding: 5px;
  border-top: 1px dotted #d3d3d3;
}

.idea h2 {
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
      	color: #333;
    font-size: medium;
    margin: 1px;
    margin-bottom: 3px;
    text-align: right;
}

.idea #affiliate_box {
    position: relative;
    float: left;
    width: 300px;
    margin: 0px;
    max-width: 310px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px dotted #d3d3d3;
}

#entirepage h2 {
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
      	color: #333;
    font-size: medium;
    margin: 1px;
    margin-bottom: 3px;
    text-align: right;
}

.idea h3 {
    color: #76879b;
    font-weight: normal;
    margin: 5px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin: 1px;
    text-align: right;
}

.maintitle {
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
  	color: #333;
  	line-height: 90%;
  	margin: .2em 0 .4em 0;
  	letter-spacing: -2px;
}

.tagline h1 {
  color: #76879b;
  font-weight: normal;
  margin: 5px;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-align: right;
}


.tagline {
  color: #76879b;
  font-size: 10px;
  margin: 5px;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  width: 100%;
}

#container {
width: 940px;
position: relative;
margin: 0 auto;
}

#carousel {
width: 780px;
margin: 0 auto;
}

#ui-carousel-next, #ui-carousel-prev {
width: 60px;
height: 240px;
background: url(<%= asset_path 'images/rcarousel/arrow-left.png'%>) #fff center center no-repeat;
display: block;
position: absolute;
top: 0;
z-index: 100;
}

#ui-carousel-next {
right: 0;
background-image: url(<%= asset_path 'images/rcarousel/arrow-right.png'%>);
}

#ui-carousel-prev {
left: 0;
}

#ui-carousel-next > span, #ui-carousel-prev > span {
display: none;
}

.slide {
margin: 0;
position: relative;
}

.slide  h1 {
font: 72px/1 Anton, sans-serif;
color: #ff5c43;
margin: 0;
padding: 0;
}

.slide  p {
font: 32px/1 Ubuntu, sans-serif;
color: #4d4d4d;
margin: 0;
padding: 0;
}

#slide01 > img {
position: absolute;
bottom: 35px;
left: 30px;
}

#slide01 > .text {
position: absolute;
left: 290px;
bottom: 35px;
}

#slide02 > img {
position: absolute;
bottom: 35px;
left: 30px;
}

#slide02 > .text {
position: absolute;
left: 290px;
bottom: 65px;
}

#slide03 > img {
position: absolute;
bottom: 25px;
left: 30px;
}

#slide03 > .text {
position: absolute;
left: 270px;
bottom: 25px;
}

#slide04 > img {
position: absolute;
bottom: 50px;
left: 60px;
}

#slide04 > .text {
position: absolute;
left: 290px;
bottom: 25px;
}

#slide05 > img {
position: absolute;
bottom: 35px;
left: 60px;
}

#slide05 > .text {
position: absolute;
left: 240px;
bottom: 35px;
}

#slide06 > img {
position: absolute;
bottom: 10px;
left: 20px;
}

#slide06 > .text {
position: absolute;
left: 290px;
bottom: 35px;
}

#pages {
width: 150px;
margin: 0 auto;
}

.bullet {
background: url(<%= asset_path 'images/rcarousel/page-off.png' %>) center center no-repeat;
display: block;
width: 18px;
height: 18px;
margin: 0;
margin-right: 5px;
float: left;
}

.blue-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.blue-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.blue-button:active {
	position:relative;
	top:1px;
}
